@model WebDT.Models.menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Mylayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-red">

            <div class="panel-heading">
                Thông Tin
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Details", "DangNhaps", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div>
                        <h4 style="margin-left:40%">THÔNG TIN CHI TIẾT MENU</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayName("Tên:")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.name)
                            </dd>

                            <dt>
                                @Html.DisplayName("Link:")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.link)
                            </dd>

                            <dt>
                                @Html.DisplayName("meta:")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.meta)
                            </dd>

                            <dt>
                                @Html.DisplayName("Hide:")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.hide)
                            </dd>

                            <dt>
                                @Html.DisplayName("Order:")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.order)
                            </dd>

                            <dt>
                                @Html.DisplayName("Ngày:")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.datebegin)
                            </dd>


                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.id }) |
                        @Html.ActionLink("Quay lại danh sách", "Index")
                    </p>
                }
                    </div>
                    </div>
               </div>
               </div>
           