
@{
    Layout = null;
}
@model WebDT.Models.PayPalModel   
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PayPal</title>
</head>
<body>
    <form id="hiddenform" action=@Model.actionURL>
        <input type="hidden" name="charset" value="utf-8">
        @Html.HiddenFor(model => model.cmd)
        @Html.HiddenFor(model => model.business)
        @Html.HiddenFor(model => model.no_shipping)
        @Html.HiddenFor(model => model.@return)
        @Html.HiddenFor(model => model.cancel_return)
        @Html.HiddenFor(model => model.notify_url)
        @Html.HiddenFor(model => model.currency_code)
        @Html.HiddenFor(model => model.item_name)
        @Html.HiddenFor(model => model.item_quantity)
        @Html.HiddenFor(model => model.amount)
    </form>

    <p style="text-align: center">
        <h3>
            Now you are connectin to the PayPal Application
        </h3>
    </p>  
</body>
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript" language="javascript">

    $(this.document).ready(function () {
        var form = $("form");
        form.submit();
    });
</script>  
</html>
