@model WebDT.Models.EF.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Mylayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-red">
           
                <div class="panel-heading">
                    Thông Tin
                </div>
           
                <!-- /.panel-heading -->
                <div class="panel-body">
                    @using (Html.BeginForm("Details", "products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                    @Html.AntiForgeryToken()

                    <div>
                        <h4 style="margin-left:40%">THÔNG TIN CHI TIẾT SẢN PHẨM</h4>
                        <hr />
                      
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayName("Tên sản phẩm:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.name)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Giá:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.price)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Giá giảm:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.newprice)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Hình Ảnh:")
                                </dt>

                                <dd>
                                    <img src="~/Content/img/@Model.img" />
                                </dd>

                                <dt>
                                    @Html.DisplayName("Mô tả:")
                                </dt>

                                <dd>
                                    @Html.Raw(Model.description)
                                </dd>


                                <dt>
                                    @Html.DisplayName("Meta:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.meta)
                                </dd>


                                @*<dt>
                                    @Html.DisplayName("Hiển thị:")
                                </dt>

                                <dd>
                                    @(Model.hdie.GetValueOrDefault(false) ? "Hiển thị" : "Ẩn")
                                </dd>*@

                                <dt>
                                    @Html.DisplayName("Order:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.order)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Ngày:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.datebegin)
                                </dd>

                                <dt>
                                    @Html.DisplayName("ID danh mục:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.categoryid)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Số lượng:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.quantity)
                                </dd>

                            </dl>
                        </div>
                       
                    }
                    <div>
                        @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
                        @Html.ActionLink("Quay lại", "Index")
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
         </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->