@model WebDT.Models.GioHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_Mylayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có muốn xóa giỏ hàng này không?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("ID giỏ hàng:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayName("Ngày nhập:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayName("ID khách hàng:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDKhachHang)
        </dd>

        <dt>
            @Html.DisplayName("Tên khách hàng:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>

        <dt>
            @Html.DisplayName("Số điện thoại:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTKhachHang)
        </dd>

        <dt>
            @Html.DisplayName("Địa chỉ:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayName("E-Mail:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName("Nội dung:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
