@model WebDT.Models.EF.Introduce

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_Mylayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                Xoá
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div>
                    <h3 style="margin-left:35%">Bạn có thật sự muốn xoá ?</h3>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Nội Dung:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NoiDung)
                        </dd>

                        <dt>
                            @Html.DisplayName("Order:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.order)
                        </dd>

                        <dt>
                            @Html.DisplayName("Meta:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.meta)
                        </dd>

                        <dt>
                            @Html.DisplayName("Ngày:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.datebegin)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Xóa" class="btn btn-default" /> |
                            @Html.ActionLink("Quay lại danh sách", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

