
@using PagedList.Mvc
@model PagedList.IPagedList<WebDT.Models.EF.Category>


    @{
        ViewBag.Title = "Danh mục sản phẩm";
        Layout = "~/Areas/admin/Views/Shared/_Mylayout.cshtml";
        var i = 1;
    }


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Danh mục sản phẩm
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        @if (TempData["add_success"] != null)
                        {
                            <div class="alert alert-success text-center" id="AlertBox">
                                @TempData["add_success"]
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="margin-bottom: 10px">
                            <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addCategory">Thêm mới </button>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới danh mục sản phẩm</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("addCategory", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Tên danh  mục:</label>
                                            <input type="text" name="name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Hình ảnh:</label>
                                            <input type="file" name="img" accept="image/*">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-lg">Thêm mới</button>
                                        </div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.panel-heading-->
                <div class="panel-body">

                    <table class="table table-striped table-bordered table-hover" id="dataTables-example" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    Tên danh mục
                                </th>
                                <th>
                                    Hình ảnh
                                </th>

                                <th>Công cụ</th>
                            </tr>

                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        <img src="@item.link" />
                                    </td>
                                    <td>
                                        <button class="btn btn-default btnEdit" data-id="@item.id" title="Sửa danh mục"><i class="fa fa-edit"></i>Sửa</button>
                                        <button class="btn btn-danger btnDelete" data-id="@item.id" title="Xóa danh mục"><i class="fa fa-close"></i> Xóa</button>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade editCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa danh mục sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("editCategory", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" name="id" id="id" />
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Tên danh mục:</label>
                            <input type="text" name="name" id="Edit_Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Hình ảnh:</label>
                            <label for="file-upload" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i>
                            </label>
                            <input id="file-upload" name="img" type="file" style="display:none;" accept="image/*">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Sửa</button>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    @section _Footer
{
        <!-- DataTables JavaScript -->
        <script src="~/Areas/admin/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/Areas/admin/Content/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
        <script src="~/Areas/admin/Content/vendor/datatables-responsive/dataTables.responsive.js"></script>
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
            //nếu không có thao tác gì thì ẩn đi
            $('#AlertBox').removeClass('hide');

            //Sau khi hiển thị lên thì delay 1s và cuộn lên trên sử dụng slideup
            $('#AlertBox').delay(2000).slideUp(500);

            $('#file-upload').change(function () {
                var i = $(this).prev('label').clone();
                var file = '<i class="fa fa-cloud-upload"></i>' + $('#file-upload')[0].files[0].name;
                $(this).prev('label').empty();
                $(this).prev('label').append(file);
            });

            $('.btnDelete').off('click').on('click', function () {

                const notice = PNotify.notice({
                    title: 'Thông báo',
                    text: 'Bạn thật sự muốn xóa?',
                    icon: 'fa fa-question-circle',
                    width: '360px',
                    minHeight: '110px',
                    hide: false,
                    closer: false,
                    sticker: false,
                    destroy: true,
                    stack: new PNotify.Stack({
                        dir1: 'down',
                        modal: true,
                        firstpos1: 25,
                        overlayClose: false
                    }),
                    modules: new Map([
                        ...PNotify.defaultModules,
                        [PNotifyConfirm, {
                            confirm: true
                        }]
                    ])
                });

                notice.on('pnotify:confirm', () =>
                    $.ajax({
                        data: { ID: $(this).data('id') },
                        url: '/admin/Category/Delete',
                        dataType: 'Json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                PNotify.success({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa danh mục sản phẩm thành công.'
                                });
                                window.location.href = "/admin/Category/Index";
                            } else {
                                PNotify.error({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa danh mục sản phẩm KHÔNG thành công.'
                                });
                            }
                        }
                    })

                );
                //notice.on('pnotify:cancel', () => alert('Oh ok. Chicken, I see.'));




            });

            $('.btnEdit').click(function (event) {
                $('.editCategory').modal('show');
                //alert($(this).data('id'));
                var ID = $(this).data('id');
                $.ajax({
                    url: "/admin/Category/GetCategoryByID/" + ID,
                    type: 'GET',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        $('#Edit_Name').val(res.name);
                        $('#id').val(res.id);
                        var file = '<i class="fa fa-cloud-upload"></i>' + res.link;
                        $("#file-upload").prev('label').empty();
                        $("#file-upload").prev('label').append(file);
                    }
                });
            });
        </script>
    }


